/* -----------------------------------------------------------------------------*/
/* components/__fg-default-validations.scss styles (default validation styles.)*/
/* -----------------------------------------------------------------------------*/

.form-group{
    //aqui pondremos validaciones de errores para label
    position: relative;
    &.error{
       
        label,.form-control,.default_validation_msj .validation-message{
            color:$error-color;
        }
        .validation-message {
            font-family: $text-font-stack;
            font-size: $t10;
            font-weight: $normal-font-weight;
            letter-spacing: $letter-spacing-half;
            position: absolute;
            bottom:3px;
            left:15px;
            z-index: 2;
        }
        input{
            &.parsley-error {
                border: 1px solid $error-color;
                
                &:focus {
                    outline: $error-color solid 1px;
                }
            }
            &.parsley-success {
                border: 1px solid $active-green;
            }
        }

    }
}   
