<!--MB hamburguer button-->
            <button 
            class="navbar-toggler" 
            id="toggleNavBar"
            type="button" 
            data-toggle="collapse" 
            data-target="#sidebar"
            aria-controls="sidebar" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
            <i class="mdi mdi-menu" aria-hidden="true"></i>
            </button>
            <!--MB hamburguer button-->