<div class="mobile-cursor {% if page_id == 3 %}d-none{% endif %}">
    <div class="cursor cursor-l">
        <i class="icon icon-arrow-left"></i>
    </div>
    <div class="cursor cursor-r">
        <i class="icon icon-arrow-right"></i>
    </div>
</div>