<!-- Modal => $('trigger').modal()-->
<div class="modal fade modal_neutral"  tabindex="-1" role="dialog" aria-hidden="true">
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"></span>
        
    </button>
    <div class="modal-dialog xl-modal" role="document">
        <div class="modal-content">
            <!-- TODO DEV: MODIFY  = 
                <p class="modal-text">XHa ocurrido un error al intentar guardar los cambios.Por favor vuelve a intentarlo</p>
            -->
            <!-- TODO DEV: DELETE  = 
                <p class="modal-text">XHa ocurrido un error al intentar dar de baja.Por favor vuelve a intentarlo</p>
            -->
            <!-- TODO DEV: ABM/ALTA = 
                <p class="modal-text">XHa ocurrido un error al intentar dar de alta.Por favor vuelve a intentarlo</p>
            -->
            <!-- TODO DEV: ABM/ADMINISTRADOR MASIVO = 
                <p class="modal-text">XHa ocurrido un error al intentar subir el archivo. Por favor vuelve a intentarlo</p>
            -->
            <div class="modal-body">
                <p class="modal-text">Ha ocurrido un error al intentar guardar los cambios.Por favor vuelve a intentarlo</p>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->