<!-- Modal => $('trigger').modal()-->
<div class="modal fade modal_success"  tabindex="-1" role="dialog" aria-hidden="true">
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"></span>
        
    </button>
    <div class="modal-dialog xl-modal" role="document">
        <div class="modal-content">
            <!-- TODO DEV: MODIFY  = 
                <p class="modal-text">XLos datos fueron modificados con éxito</p>
            -->
            <!-- TODO DEV: DELETE  = 
                <p class="modal-text">XLa baja fue realizada con éxito</p>
            -->
                <!-- TODO DEV: ABM/ALTA MASIVO = 
                <p class="modal-text">XEl alta fue realizada con éxito</p>
            -->
            <!-- TODO DEV: ABM/ADMINISTRADOR MASIVO = 
                <p class="modal-text">XEl archivo fue subido con éxito</p>
            -->
            <div class="modal-body">
                <p class="modal-text">Los datos fueron modificados con éxito</p>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->