
<div class="modal fade js_uploadmodal" id="modalUpload" tabindex="-1" role="dialog" aria-hidden="true">
    {# <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"></span>
    </button> #}
    <div class="modal-dialog sm-modal" role="document">
        <div class="modal-content">
            <div class="modal-body">
             
            </div>
            <div class="element_half_container">
                <button class="btn md_btn default_btn_2 ml-auto js_cancel" data-dismiss="modal" aria-label="Close">Cancelar</button>
                <button class="btn md_btn default_btn_1 js_load" type="submit" >Subir</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->