<div class="colorpicker">
    <label class="colorpicker-label" for="name">XClick para seleccionar el color</label>
    <!-- Value: Color por defecto -->
    <input class="colorpicker-input" id="colorpicker" value="#f4b300">
    <p class="colorpicker-subtitle">RGB / Hexa</p>
</div>