    <table class="table old" style="width:100%">
        <tbody>
            <tr class="version">
                <td class="date" >X05 / 10 / 2020</td>
                <td class="version_number">XVersión: V.08</td>
                <td class="validity"> <span class="col_title">XVigencia:</span> X05 / 10 / 2020 - 09:05</td>
                <td class="user_name"><span class="col_title">XUsuario:</span> XJuan Rivarola</td>
                <td class="close_btn"><a href="tyc.html" title="close" ><span class="icon icon-close"></span></a></td>
            </tr>
        </tbody>
    </table>
   
