
    <table class="table last" style="width:100%">
        <tbody>
            <tr class="version">
                <td class="date" >X05 / 10 / 2020</td>
                <td class="version_number">XVersión: V.08</td>
                <td class="validity"> <span class="col_title">XVigencia:</span> X05 / 10 / 2020 - 09:05</td>
                <td class="user_name"><span class="col_title">XUsuario:</span> XJuan Rivarola</td>
                <td class="see_btn"><a href="tycsee.html" title="see" ><span class="icon icon-see"></span></a></td>
            </tr>
            <tr class="table_title version">
                <td class="col_name" colspan="2" >
                    <div class="col_text">XVersiones anteriores</div>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr> 
        </tbody>
    </table>
   
