 <table class="table old" style="width:100%">
        <tbody>
            <thead>
                <tr class="version">
                    <th class="date" >XFecha</th>
                    <th class="version_number">XVersión</th>
                    <th class="validity">XVigencia</th>
                    <th class="user_name">XUsuario</th>
                    <th class="see_btn"></th>
                </tr>
            </thead>
            <tr class="version">
                <td class="date" >X03 / 09 / 2020</td>
                <td class="version_number">XV.07 </td>
                <td class="validity"> <span class="date">X03 / 09 / 2020 </span><span class="time">X17:13 hs</span></td>
                <td class="user_name"> XJuan Rivarola</td>
                <td class="see_btn"> <a href="tycsee.html" title="see" ><span class="icon icon-see"></span></a></td>
            </tr>      
            <tr class="version">
                <td class="date" >X23 / 08 / 2020</td>
                <td class="version_number">XV.06</td>
                <td class="validity"> <span class="date">X23 / 08 / 2020 </span><span class="time">X17:13 hs</span></td>
                <td class="user_name">XGloria Guadalupe María Juana Cortez Gonzalez</td>
                <td class="see_btn"> <a href="tycsee.html" title="see" ><span class="icon icon-see"></span></a></td>
            </tr>
            <tr class="version">
                <td class="date" >X12 / 07 / 2020</td>
                <td class="version_number">XV.05</td>
                <td class="validity"> <span class="date">X12 / 07 / 2020 </span><span class="time">X09:34 hs</span></td>
                <td class="user_name">XGloria Guadalupe María Juana Cortez Gonzalez</td>
                <td class="see_btn"> <a href="tycsee.html" title="see" ><span class="icon icon-see"></span></a></td>
            </tr>   
            <tr class="version">
                <td class="date" >X09 / 06 / 2020</td>
                <td class="version_number">XV.04</td>
                <td class="validity"> <span class="date">X09 / 06 / 2020 </span><span class="time">X12:21 hs</span></td>
                <td class="user_name">XGloria Guadalupe María Juana Cortez Gonzalez</td>
                <td class="see_btn"> <a href="tycsee.html" title="see" ><span class="icon icon-see"></span></a></td>
            </tr>           
            <tr class="version">
                <td class="date" >X03 / 09 / 2020</td>
                <td class="version_number">XV.07 </td>
                <td class="validity"> <span class="date">X03 / 09 / 2020 </span><span class="time">X17:13 hs</span></td>
                <td class="user_name"> XJuan Rivarola</td>
                <td class="see_btn"> <a href="tycsee.html" title="see" ><span class="icon icon-see"></span></a></td>
            </tr>      
            <tr class="version">
                <td class="date" >X23 / 08 / 2020</td>
                <td class="version_number">XV.06</td>
                <td class="validity"> <span class="date">X23 / 08 / 2020 </span><span class="time">X17:13 hs</span></td>
                <td class="user_name">XGloria Guadalupe María Juana Cortez Gonzalez</td>
                <td class="see_btn"> <a href="tycsee.html" title="see" ><span class="icon icon-see"></span></a></td>
            </tr>
            <tr class="version">
                <td class="date" >X12 / 07 / 2020</td>
                <td class="version_number">XV.05</td>
                <td class="validity"> <span class="date">X12 / 07 / 2020 </span><span class="time">X09:34 hs</span></td>
                <td class="user_name">XGloria Guadalupe María Juana Cortez Gonzalez</td>
                <td class="see_btn"> <a href="tycsee.html" title="see" ><span class="icon icon-see"></span></a></td>
            </tr>   
            <tr class="version">
                <td class="date" >X09 / 06 / 2020</td>
                <td class="version_number">XV.04</td>
                <td class="validity"> <span class="date">X09 / 06 / 2020 </span><span class="time">X12:21 hs</span></td>
                <td class="user_name">XGloria Guadalupe María Juana Cortez Gonzalez</td>
                <td class="see_btn"> <a href="tycsee.html" title="see" ><span class="icon icon-see"></span></a></td>
            </tr>              
        
        </tbody>
    </table> 