/* -----------------------------------------------------------------------------*/
/* This file contains CSS helper classes.*/
/* -----------------------------------------------------------------------------*/

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */

 //Contenedores 
.container-small  {
	max-width: $narrow-max-width; /* 1 */
	margin-left: auto; /* 2 */
	margin-right: auto; /* 2 */
	width: 100%; /* 1 */

	@include media(dk) {
		padding-left: 20px; /* 3 */
		padding-right: 20px; /* 3 */

	}
	@include media(mb) {
		padding-left: 10px; /* 3 */
		padding-right: 10px; /* 3 */
		
	}
 }
 .container {
	max-width: $max-width; /* 1 */
	margin-left: auto; /* 2 */
	margin-right: auto; /* 2 */
	width: 100%; /* 1 */

	@include media(dk) {
		padding-left: 20px; /* 3 */
		padding-right: 20px; /* 3 */

	}
	@include media(mb) {
		padding-left: 10px; /* 3 */
		padding-right: 10px; /* 3 */
		
	}
 }
 .container-large {
	max-width: $max-width-2; /* 1 */
	margin-left: auto; /* 2 */
	margin-right: auto; /* 2 */
	width: 100%; /* 1 */

	@include media(dk) {
		padding-left: 20px; /* 3 */
		padding-right: 20px; /* 3 */

	}
	@include media(mb) {
		padding-left: 10px; /* 3 */
		padding-right: 10px; /* 3 */
		
	}
 }

//Alto ancho 100%

.w100{
  	width:100%;
}

.height-100vh{
  	height: 100vh;
}
.mb1 {
	margin-bottom:20px;
  }

//Visualización de elementos
.capitalize {

	text-transform: capitalize;
	
}   
.invisible {

	visibility: hidden !important;
}

.d-none {
    display: none !important;
}

@include media(mb){

	.desktop_show{
		display:none !important;
	}
}
@include media(dk){

	.mobile_show{
		display:none !important;
	}
}

//Contenedores de botones ( revisar ) 
.button_container {
	display:flex;
	flex-wrap: wrap;    
	align-items: center;
	min-height: 50px;

	&.d-none {
		display:none;
	}
	@include media(mb) {
		padding:3em 10px;
        flex-direction:row;
        
	}
	@include media(dk) {
		padding:20px 10px;
        flex-direction:row;
        
	}
	
	
   
}
.tab_pane.third_content .button_container{	
	@include media(mb) {
        flex-direction:column;
        padding-top:20px;
    }
}

.button_container_left {

    justify-content: flex-start;
}
.button_container_right{

    justify-content: flex-end;
}
.button_container_center{
    justify-content: center;
}

.feature_row_bg_color {
	background: lighten($light-grey-color, 2%);
}


//ellipsis de una sola linea de texto 
.ellipsis{
	max-width: 110px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display:block;
	margin:0 auto;
	font-size: inherit;
}
//ellipsis de dos linea de texto manejado por el ancho aun no variable 
//se utilizara en drop de notificaciones


.line-clamp{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 240px;
}

.left-auto {
	display:flex;
	margin-left:auto !important;
}
.right-auto {
	display:flex;
	margin-right:auto !important;
}
.order_1 {
	order:1;
}
.order_2 {
	order:2;
}