 <div class="nav_link_info">
    <div class="value">
        141
    </div>
    <div class="text">
        Total 
    </div>
</div>
<div class="nav_link_chart">
    <div id="firstChart"><div class="pc-text value">141</div></div>
</div>