<div class="nav_link_info">
    <div class="value">
        89
    </div>
    <div class="text">
        En atención
    </div>
</div>
<div class="nav_link_chart">
    <div id="secondChart"><div class="pc-text value">89</div></div>
</div>