<div class="nav_link_info">
    <div class="value">
        52
    </div>
    <div class="text">
        En espera
    </div>
</div>
<div class="nav_link_chart">
    <div id="thirdChart"><div class="pc-text value">52</div></div>
</div>