// -----------------------------------------------------------------------------
// This file contains sections/abm/registration styles 
// -----------------------------------------------------------------------------
.tab_pane .thumbs_lg {

    .js_input_file , .js_input_file label{
        height: 100%;
        width: 100%;
        cursor: pointer;
        font-size:13px;
    }
    
}