<!-- Comienza segunda nav en tabs -->
 <ul class="nav nav_tabs second_nav_tabs editable_tabs">
    <li class="nav_item first_tab">
        <a class="nav_link active" data-toggle="tab" href=".first_tab_content .first_content">
            <div class="nav_link_content">
                <div class="icon icon-see"></div>
                <div class="text_ellipsis">Maria Paz Perdomo</div> 
            </div>
        </a>
    </li>
    <li class="nav_item second_tab">
        <a class="nav_link" data-toggle="tab" href=".first_tab_content .second_content">
            <div class="nav_link_content">
                <div class="icon icon-see"></div>
                <div class="text_ellipsis">Aurora Guerra</div> 
            </div>
        </a>
    </li>
    <li class="nav_item third_tab">
        <a class="nav_link" data-toggle="tab" href=".first_tab_content .third_content">
            <div class="nav_link_content">
                <div class="icon icon-see"></div>
                <div class="text_ellipsis">Pedro Pablo Antolin</div>
            </div>
        </a>
    </li>
    <li class="nav_item fourth_tab">
        <a class="nav_link" data-toggle="tab" href=".first_tab_content .fourth_content">
            <div class="nav_link_content">
                <div class="icon icon-see"></div>
                <div class="text_ellipsis">Iker Cañas</div>
            </div>
        </a>
    </li>

</ul>
<!-- Fin segunda nav en tabs -->
