<div class="js_input_file">
    <div class="input_file">
        <label for="explore_pt" class="files_container feature_row_bg_color" >
            <span class="icon icon-selected">○</span> 
            <span class="file_uploaded"></span> 
            <span class="date_time">
                <span class="date"></span> 
                <span class="time"></span>
            </span> 
        </label >
    </div>
    <div class="button_container button_container_left" >
        <div class="buttons">
            <button class="btn md_btn default_btn_3 " type="button" >Descargar</button>
            <div class="input_file">
                <input type="file" name="explore_pt[]" id="explore_pt" class=" d-none" data-multiple-caption="{count} files selected" multiple />
                <label class="file-btn" for="explore_pt">
                    <div class=" btn md_btn default_btn_4 js_explore_btn">Subir</div>
                </label>
            </div>
        </div>
        <div class="text">
            <p> Desde acá podras descargar la nómina completa para luego editarla de manera masiva o completa. </p>
            <p>Una vez realizada la modificación, podras volver a subir el archivo actualizado.</p>
        </div>
    </div>
    <div class="button_container button_container_right d-none" >
        <div class="buttons">
            <button class="btn md_btn default_btn_2 js_clean" type="button" >Cancelar</button>
            <button class="btn md_btn default_btn_1 js_confirm" type="submit">Subir</button>
        </div>
    </div>
</div>