<div class="logo_container">
    <a href="/" alt="logo" >
        <img class="logo" src="content/img/logo-blanco.png" alt="Logo"/>
    </a>
</div>
<h1 class="title">Administrador de Consultorios</h1>
<p class="subtitle">Gestione <b>de modo seguro</b> toda la información de sus pacientes, profesionales, agenda de turnos, Historia clínica electrónica, video consulta,  informes y más.
Solicite una demo o contáctenos para saber más. </p>

<nav class="navbar navbar-default">
    <ul class="navbar_nav">
        <li class="nav_item active">
            <a class="nav_link" href="#" >Español</a>
        </li>
        <li class="nav_item">
            <a class="nav_link" href="#" >Portugues</a>
        </li>
        <li class="nav_item">
            <a class="nav_link" href="#" >Inglés</a>
        </li>
    </ul>
</nav> 
