<table class="table dataTables" style="width:100%">
    <thead>
        <tr>
            <th class="col_name" >Nombre</th>
            <th class="hidden-checkbox"></th>
            <th class="col_status">Estado</th>
            <th class="col_time">Tiempo</th>
            <th class="col_plan">Obra Social</th>
            <th class="col_group">Plan</th>
        </tr>
    </thead>
    <tbody>
        <tr class="row_flow-in-atention">
            <td class="hidden-checkbox"><input type="checkbox"></td>
            <td class="col_name"><div class="col_text">Evan Dominic Reed Weaver</div></td>
            <td class="col_status"><div class="col_text">Atención</div></td>
            <td class="col_time"><div class="col_text" >02 min</div></td>
            <td class="col_plan"><div class="col_text" >OSECAC</div></td>
            <td class="col_group"><div class="col_text" >Azul</div></td>
        </tr> 

        <tr class="row_flow-in-atention">
            <td class="hidden-checkbox"><input type="checkbox"></td>
            <td class="col_name"><div class="col_text">Celso Ordoñez</div></td>
            <td class="col_status"><div class="col_text">Atención</div></td>
            <td class="col_time"><div class="col_text" >10 min</div></td>
            <td class="col_plan"><div class="col_text" >UP</div></td>
            <td class="col_group"><div class="col_text" >Familiar</div></td>
        </tr> 
      
        <tr class="row_flow-in-atention">
            <td class="hidden-checkbox"><input type="checkbox"></td>
            <td class="col_name"><div class="col_text">Paulino Segui</div></td>
            <td class="col_status"><div class="col_text">Atención</div></td>
            <td class="col_time"><div class="col_text" >01 min</div></td>
            <td class="col_plan"><div class="col_text" >OSDE</div></td>
            <td class="col_group"><div class="col_text" >310</div></td>
        </tr> 
         <tr class="row_flow-in-atention">
            <td class="hidden-checkbox"><input type="checkbox"></td>
            <td class="col_name"><div class="col_text">Alejandro Melian</div></td>
            <td class="col_status"><div class="col_text">Atención</div></td>
            <td class="col_time"><div class="col_text" >02 min</div></td>
            <td class="col_plan"><div class="col_text" >OSDE</div></td>
            <td class="col_group"><div class="col_text" >210</div></td>
        </tr> 

        <tr class="row_flow-in-atention">
            <td class="hidden-checkbox"><input type="checkbox"></td>
            <td class="col_name"><div class="col_text">Marco Palacios</div></td>
            <td class="col_status"><div class="col_text">Atención</div></td>
            <td class="col_time"><div class="col_text" >12 min</div></td>
            <td class="col_plan"><div class="col_text" >OSDE</div></td>
            <td class="col_group"><div class="col_text" >210</div></td>
        </tr> 
      
        <tr class="row_flow-in-atention">
            <td class="hidden-checkbox"><input type="checkbox"></td>
            <td class="col_name"><div class="col_text">Rosendo Millan</div></td>
            <td class="col_status"><div class="col_text">Atención</div></td>
            <td class="col_time"><div class="col_text" >02 min</div></td>
            <td class="col_plan"><div class="col_text" >OSDEPYM</div></td>
            <td class="col_group"><div class="col_text" >2500</div></td>
        </tr> 
        
      
    </tbody>
</table>