<table class="table dataTables result_table no-footer" style="width:100%">
<!--INFO DEV: Esta sección THEAD será invisible -->
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr class="row">
            <td class="col_check">
                <label class="container-check brand-color">
                    <input type="checkbox" disabled>
                    <span class="checkmark"></span>
                </label>
            </td>
            <td class="col_name"><div class="col_text">Maria Paz Perdomo</span></td>
            <td class="col"><div class="col_text">MN136538</div></td>
            <td class="col"><div class="col_text">34556765</div></td>
            <td class="col_spec">
                <div class="col_tooltip" data-toggle='tooltip' data-html="true" data-placement='left' title='Pediatría <br> Clínica'>
                    <div class="col_text">Guardia</div>
                    <div class="col_text-detail">+2</div>
                </div>
            </td>
            <td class="col_lang"> 
                <div class="col_tooltip" data-toggle='tooltip' data-html="true" data-placement='left' title='<span class="capitalize">Inglés <br> Portugués <br> frances</span>'>
                    <div class="col_text">Español</div>
                    <div class="col_text-detail">+3</div>
                </div>
            </td>
        </tr> 
        
        <tr class="row">
            <td class="col_check">
                <label class="container-check brand-color">
                    <input type="checkbox" disabled>
                    <span class="checkmark"></span>
                </label>
            </td>
            <td class="col_name"><div class="col_text">Aurora Guerra</span></td>
            <td class="col"><div class="col_text">MN234321</div></td>
            <td class="col"><div class="col_text">25556998</div></td>
            <td class="col_spec">
                <div class="col_tooltip" data-toggle='tooltip' data-html="true" data-placement='left' title='Pediatría <br> Clínica'>
                    <div class="col_text">Guardia</div>
                    <div class="col_text-detail">+2</div>
                </div>
            </td>
            <td class="col_lang"> 
                <div class="col_tooltip" data-toggle='tooltip' data-html="true" data-placement='left' title='<span class="capitalize">Inglés <br> Portugués <br> frances</span>'>
                    <div class="col_text">Español</div>
                    <div class="col_text-detail">+3</div>
                </div>
            </td>
        </tr> 

        <tr class="row">
            <td class="col_check">
                <label class="container-check brand-color">
                    <input type="checkbox" disabled>
                    <span class="checkmark"></span>
                </label>
            </td>
            <td class="col_name"><div class="col_text">Pedro Pablo Antolin</span></td>
            <td class="col"><div class="col_text">MN1673423</div></td>
            <td class="col"><div class="col_text">22464332</div></td>
            <td class="col_spec">
                <div class="col_tooltip" data-toggle='tooltip' data-html="true" data-placement='left' title='Pediatría <br> Clínica'>
                    <div class="col_text">Guardia</div>
                    <div class="col_text-detail">+2</div>
                </div>
            </td>
            <td class="col_lang"> 
                <div class="col_tooltip" data-toggle='tooltip' data-html="true" data-placement='left' title='<span class="capitalize">Inglés <br> Portugués <br> frances</span>'>
                    <div class="col_text">Español</div>
                    <div class="col_text-detail">+3</div>
                </div>
            </td>
        </tr> 
        
        <tr class="row">
            <td class="col_check">
                <label class="container-check brand-color">
                    <input type="checkbox" disabled>
                    <span class="checkmark"></span>
                </label>
            </td>
            <td class="col_name"><div class="col_text">Iker Cañas</span></td>
            <td class="col"><div class="col_text">MN384738</div></td>
            <td class="col"><div class="col_text">10728736</div></td>
            <td class="col_spec">
                <div class="col_tooltip" data-toggle='tooltip' data-html="true" data-placement='left' title='Pediatría <br> Clínica'>
                    <div class="col_text">Guardia</div>
                    <div class="col_text-detail">+2</div>
                </div>
            </td>
            <td class="col_lang"> 
                <div class="col_tooltip" data-toggle='tooltip' data-html="true" data-placement='left' title='<span class="capitalize">Inglés <br> Portugués <br> frances</span>'>
                    <div class="col_text">Español</div>
                    <div class="col_text-detail">+3</div>
                </div>
            </td>
        </tr> 
        <tr class="row">
            <td class="col_check">
                <label class="container-check brand-color">
                    <input type="checkbox" disabled>
                    <span class="checkmark"></span>
                </label>
            </td>
            <td class="col_name"><div class="col_text">Marcelo Aragon</span></td>
            <td class="col"><div class="col_text">MN2657583</div></td>
            <td class="col"><div class="col_text">203846484</div></td>
            <td class="col_spec">
                <div class="col_tooltip" data-toggle='tooltip' data-html="true" data-placement='left' title='Pediatría <'>
                    <div class="col_text">Guardia</div>
                    <div class="col_text-detail">+1</div>
                </div>
            </td>
            <td class="col_lang"> 
                <div class="col_tooltip" data-toggle='tooltip' data-html="true" data-placement='left' title='<span class="capitalize">Inglés</span>'>
                    <div class="col_text">Español</div>
                    <div class="col_text-detail">+1</div>
                </div>
            </td>
        </tr>   
        <tr class="row">
            <td class="col_check">
                <label class="container-check brand-color">
                    <input type="checkbox" disabled>
                    <span class="checkmark"></span>
                </label>
            </td>
            <td class="col_name"><div class="col_text">Maria Angela Ribes</span></td>
            <td class="col"><div class="col_text">MN233456</div></td>
            <td class="col"><div class="col_text">27633229</div></td>
            <td class="col_spec">
                <div class="col_tooltip" data-toggle='tooltip' data-html="true" data-placement='left' title='Pediatría <br> Clínica'>
                    <div class="col_text">Guardia</div>
                    <div class="col_text-detail">+2</div>
                </div>
            </td>
            <td class="col_lang"> 
                <div class="col_tooltip" data-toggle='tooltip' data-html="true" data-placement='left' title='<span class="capitalize">Inglés</span>'>
                    <div class="col_text">Español</div>
                    <div class="col_text-detail">+1</div>
                </div>
            </td>
        </tr> 
        
        <tr class="row">
            <td class="col_check">
                <label class="container-check brand-color">
                    <input type="checkbox" disabled>
                    <span class="checkmark"></span>
                </label>
            </td>
            <td class="col_name"><div class="col_text">Modesta Viñas</span></td>
            <td class="col"><div class="col_text">MN334743</div></td>
            <td class="col"><div class="col_text">25863363</div></td>
            <td class="col_spec">
                <div class="col_tooltip" data-toggle='tooltip' data-html="true" data-placement='left' title='Pediatría <br> Clínica'>
                    <div class="col_text">Guardia</div>
                    <div class="col_text-detail">+2</div>
                </div>
            </td>
            <td class="col_lang"> 
                <div class="col_tooltip" data-toggle='tooltip' data-html="true" data-placement='left' title='<span class="capitalize">Inglés <br> Portugués <br> frances</span>'>
                    <div class="col_text">Español</div>
                    <div class="col_text-detail">+3</div>
                </div>
            </td>
        </tr> 

        <tr class="row">
            <td class="col_check">
                <label class="container-check brand-color">
                    <input type="checkbox" disabled>
                    <span class="checkmark"></span>
                </label>
            </td>
            <td class="col_name"><div class="col_text">Ismael López</span></td>
            <td class="col"><div class="col_text">MN178236</div></td>
            <td class="col"><div class="col_text">238347647</div></td>
            <td class="col_spec">
                <div class="col_tooltip" data-toggle='tooltip' data-html="true" data-placement='left' title='Pediatría <br> Clínica'>
                    <div class="col_text">Guardia</div>
                    <div class="col_text-detail">+2</div>
                </div>
            </td>
            <td class="col_lang"> 
                <div class="col_tooltip" data-toggle='tooltip' data-html="true" data-placement='left' title='<span class="capitalize">Inglés <br> Portugués <br> frances</span>'>
                    <div class="col_text">Español</div>
                    <div class="col_text-detail">+3</div>
                </div>
            </td>
        </tr> 
        
        <tr class="row">
            <td class="col_check">
                <label class="container-check brand-color">
                    <input type="checkbox" disabled>
                    <span class="checkmark"></span>
                </label>
            </td>
            <td class="col_name"><div class="col_text">Nuria Calle</span></td>
            <td class="col"><div class="col_text">MN34567890</div></td>
            <td class="col"><div class="col_text">234567890</div></td>
            <td class="col_spec">
                <div class="col_tooltip" data-toggle='tooltip' data-html="true" data-placement='left' title='Pediatría <br> Clínica'>
                    <div class="col_text">Guardia</div>
                    <div class="col_text-detail">+2</div>
                </div>
            </td>
            <td class="col_lang"> 
                <div class="col_tooltip" data-toggle='tooltip' data-html="true" data-placement='left' title='<span class="capitalize">Inglés <br> Portugués <br> frances</span>'>
                    <div class="col_text">Español</div>
                    <div class="col_text-detail">+3</div>
                </div>
            </td>
        </tr> 
        <tr class="row">
            <td class="col_check">
                <label class="container-check brand-color">
                    <input type="checkbox" disabled>
                    <span class="checkmark"></span>
                </label>
            </td>
            <td class="col_name"><div class="col_text">Anibal Cantero</span></td>
            <td class="col"><div class="col_text">MN384733</div></td>
            <td class="col"><div class="col_text">12661895</div></td>
            <td class="col_spec">
                <div class="col_tooltip" data-toggle='tooltip' data-html="true" data-placement='left' title='Pediatría <br> Clínica'>
                    <div class="col_text">Guardia</div>
                    <div class="col_text-detail">+2</div>
                </div>
            </td>
            <td class="col_lang"> 
                <div class="col_tooltip" data-toggle='tooltip' data-html="true" data-placement='left' title='<span class="capitalize">Inglés </span>'>
                    <div class="col_text">Español</div>
                    <div class="col_text-detail">+1</div>
                </div>
            </td>
        </tr>     
    </tbody>
</table>