<!-- Comienza segunda nav en tabs -->
<ul class="nav nav_tabs second_nav_tabs editable_tabs">
    <li class="nav_item first_tab">
        <button class="nav_link nav_step active" data-toggle="tab" href=".first_tab_content .first_content">
            <div class="nav_link_content">
                <div class="icon icon-edit"></div>
                <div class="text_ellipsis">Francisco José Ballesteros</div> 
            </div>
        </button>
    </li>
    <li class="nav_item second_tab">
        <button class="nav_link nav_step" data-toggle="tab" href=".first_tab_content .second_content" >
            <div class="nav_link_content">
                <div class="icon icon-edit"></div>
                <div class="text_ellipsis">Rebecca Giner</div> 
            </div>
        </button>
    </li>
    <li class="nav_item third_tab">
        <button class="nav_link nav_step" data-toggle="tab" href=".first_tab_content .third_content">
            <div class="nav_link_content">
                <div class="icon icon-edit"></div>
                <div class="text_ellipsis">Mikel Reed Weaver</div>
            </div>
        </button>
    </li>
    <li class="nav_item fourth_tab">
        <button class="nav_link nav_step" data-toggle="tab" href=".first_tab_content .fourth_content" >
            <div class="nav_link_content">
                <div class="icon icon-edit"></div>
                <div class="text_ellipsis">Susan Reed Weaver</div>
            </div>
        </button>
    </li>

</ul>
<!-- Fin segunda nav en tabs -->
