<ul class="nav nav_tabs second_nav_tabs">
    <li class="nav_item first_tab">
        <a class="nav_link active" data-toggle="tab" href=".second_tab_content .first_content">
            <div class="nav_link_content">
                <div class="icon icon-search"></div>
                <div class="text_ellipsis">Buscar</div>
                
            </div>
        </a>
    </li>
    <li class="nav_item second_tab">
        <a class="nav_link" data-toggle="tab" href=".second_tab_content .second_content">
            <div class="nav_link_content">
                <div class="icon icon-affiliates-enrollment"></div>
                <div class="text_ellipsis">Alta Paciente</div>
                
            </div>
        </a>
    </li>
        <li class="nav_item third_tab">
        <a class="nav_link" data-toggle="tab" href=".second_tab_content .third_content">
            <div class="nav_link_content">
                <div class="icon icon-massive-aff"></div>
                <div class="text_ellipsis">Administrador Masivo</div>
                
            </div>
        </a>
    </li>

</ul>