<section class=" collapsible">

    <!-- clase de bootstrap collapse para pasar de transitions a fw -->
    <div class="collapse show" >
 
        <form action="#" class="form_content parsley js_form_validation ver">

            <div class="fields_container container-large">
                
                <!--INFO DEV: Utilizar "default" y todo markup interno para configuración de nuevos elementos input 
                dentro de la estructura-->
                <div class="image_group_content">
                    <div class="thumbs_container fixed-element">
                        <div class="thumbs_lg thumbs_circle thumbs_bordered"> 
                            <div class="js_input_file">
                                <div class="input_file">
                                    <input type="file" name="explore_ptImg[]" id="explore_ptImg" class=" d-none" data-multiple-caption="{count} files selected" multiple disabled/>
                                    <label  for="explore_ptImg">
                                        <img src="content/img/thumb-dr4.png" alt="" width="100%" class="img">
                                        <div class="acronym"> IC </div>
                                    </label>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div class="form-group default">
                        <label for="name">Nombre</label>
                        <input type="text" class="form-control" name="nombre" id="name" placeholder="XNombre" autocomplete="off" 
                        disabled 
                        value="Iker">
                   
                    </div>
                
                    <div class="form-group default">
                        <label for="lastname">Apellido</label>
                        <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Apellido" autocomplete="off" 
                        disabled 
                        value="Cañas">
                    </div>
                
                    <div class="form-group default">
                        <label for="enrollment">Matricula #</label>
                        <input type="text" class="form-control" name="enrollment" id="enrollment" placeholder="Número de matrícula" autocomplete="off" 
                        disabled 
                        value="MN1236383">
                    </div>
                </div>

                <div class="form-group fixed-element">
                    <label for="drDoctypeSee4">Documento Tipo</label>
                    <select id="drDoctypeSee4" class="form-control select2 documentType" tabindex="-1" aria-hidden="true" name="drDoctypeSee4" style="width:110px" data-placeholder="Tipo"
                    disabled >
                        <option></option>
                        <option value="0" selected >DNI</option>
                        <option value="1">Passport</option>
                        <option value="1">LE</option>
                        <option value="1">LC</option>
                    </select>
                </div>

                <div class="form-group default">
                    <label for="enrollment">Número de Documento #</label>
                    <input type="text" class="form-control" name="enrollment" id="enrollment" placeholder="Número de documento" autocomplete="off" 
                    disabled 
                    value="33232256">
                   
                </div>
               
                <div class="form-group default">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="nombre@mail.com" autocomplete="off" 
                    disabled 
                    value="miapalaciosfuentes@gmail.com">
                </div>

                <div class="form-group default">
                    <label for="phone">Telefono</label>
                    <input type="text" class="form-control" name="phone" id="phone" placeholder="Teléfono" autocomplete="off"
                    disabled 
                    value="114156665">
                </div>
                
                <div class="form-group tags">
                    <label for="specSee4">Especialidad</label>
                    <select class="form-control select2 tag" multiple id="specSee4" data-placeholder="Ingrese una o más especialidades" 
                    disabled>
                        <option></option>
                        <option selected>Clínica médica</option>
                        <option >Pedriatría</option>
                        <option>Traumatología</option>
                        <option selected>Guardia</option>
                    </select>
                </div>

                <div class="form-group tags">
                    <label for="langNew4">Idioma</label>
                    <select class="form-control select2 tag" multiple id="langNew4" data-placeholder="Ingrese uno o más idiomas"
                    disabled>
                        <option></option>
                        <option >Inglés</option>
                        <option selected>Español</option>
                        <option>Portugués</option>
                    </select>
                </div>
             
            </div>
            <!--TODO DEV: Al cerrar form de usuario se debe =>
            •	Guardar los datos del usuario
            •	Eliminar tanto el nav_item (li) de la navegación como el contenido (tab_pane). 
            •	Agregar clase active al siguiente nav-item / tab-pane 
            •	Si es el último de la lista de 4 (dk) debe redirigir a abm-->

            <div class="bottom_container">
                <div class="element_half_container desktop_show">
                    <a class="elem_link text" href="abm.html">
                        <span class="icon icon-chevron-left"></span>
                        Volver al listado de resultados
                    </a>
                </div>
                <div class="element_half_container">
                    <a class="btn md_btn default_btn_1 ml-auto" href="abm.html">Cerrar</a>
                </div>
            </div>

        </form>
     
    </div>
</section>