 <!-- AGREGO DIV CLASE DROPDOWN PARA NOTIFICACIONES -->
    <div class="user_alerts news ">

        <!-- AGREGO DIV CLASE DROPDOWN PARA NOTIFICACIONES -->

            <a class="alerts nav_link dropdown-toggle" href="#"
                role="button" id="drop-notifications" data-toggle="right_sidebar" aria-haspopup="true"
                aria-expanded="false">
               <span class="on_alert"></span>
                <span class="icon icon-bell"></span>
            </a>
            <!-- /// INICIO DROPDOWN NOTIFICACIONES /// -->

            <div class="notification_menu dropright_nav dropdown-fixed-size slow-box-shaddow" aria-labelledby="drop-notifications">
                <div class="notify_menu desktop_show">
                    <div class="user_config">
                        <!--TODO: Si hay alertas de noticias se debe agregar la clase alerts en user_items y .user_alerts .nav_link.
                        Consecutivamente agregar abajo <span class="on_alert"></span> en ambos lugares-->
                        <a href="#" class="user_item user_info">
                            <div class="user_name">Juan Rivarola</div>
                            <div class="user_settings">Administrador</div>
                        </a>
                        <div class="user_item thumbs_container alerts">

                            <a href="#" class="thumbs thumbs_circle">
                                <img src="content/img/thumb-small.jpg" alt="" width="100%" class="img">
                                <span class="acronym">JR</span>
                            </a>
                        </div>
                    </div>
                    <div class="user_alerts alerts">
                        <span class="on_alert"></span>
                        <span class="icon icon-bell"></span>
                    </div>
                    <span class="icon icon-close"></span>
                </div>
                <p class="notification_header">Notificaciones <span class="icon icon-close mobile_show"></span></p>
                <div class="notifications-wrapper"  >
                    <div class="nano">
                        <ul class="nano-content notifications-height">
                            <!-- Item a replicar por cada notificacion-->
                            <li class="notification_item">
                                <div class="notification_item-date">15/01/2021</div>
                                <div class="notification_item-title">
                                    CAMBIO DE CONTRASEÑA
                                    <span class="icon icon-arrow-down mobile_show"></span>
                                </div>
                                <div class="notification_item-text">
                                Se realiza con éxito cambio de clave de usuario Administrador. <a> cambio de clave</a>

                                </div>
                            </li>
                            <li class="notification_item read">
                                <div class="notification_item-date">28/12/2020</div>
                                <div class="notification_item-title">
                                     MODIFICACIONES EN LA NOMINA PACIENTES
                                    <span class="icon icon-arrow-down mobile_show"></span>
                                </div>
                                <div class="notification_item-text">
                                Se realizaron con éxito las modificaciones en la nómina de afiliados.
                                </div>
                            </li>
                            <li class="notification_item unread">
                                <div class="notification_item-date">10/12/2020</div>
                                <div class="notification_item-title">
                                ALTA MÉDICO
                                <span class="icon icon-arrow-down mobile_show"></span>
                                </div>
                                <div class="notification_item-text">El Dr. Esteban Quiroz fue dado de alta.
                                </div>
                            </li>
                            <li class="notification_item">
                                <div class="notification_item-date">15/11/2020</div>
                                <div class="notification_item-title">
                                    ESPERA PROLONGADA
                                    <span class="icon icon-arrow-down mobile_show"></span>
                                </div>
                                <div class="notification_item-text">Hay pacientes con espera prolongada que necesitan ser atendidos para recibir la atención requerida.
                                </div>
                            </li>
                            <li class="notification_item">
                                <div class="notification_item-date">12/10/2020</div>
                                <div class="notification_item-title">
                                    MÉDICO DESCONECTADO
                                    <span class="icon icon-arrow-down mobile_show"></span>
                                </div>
                                <div class="notification_item-text">
                                    Un médico del staff en atención cambio su estado a desconectado.
                                </div>
                            </li>

                            <!-- Fin Item a replicar por cada notificacion -->
                        </ul>
                    </div>
                </div>

                <div class="notification_footer desktop_show">
                    <a class="notification_link right-link" href="notifications.html">
                        Ver más
                    </a>
                </div>
            </div>


            <!-- /// FIN DROPDOWN NOTIFICACIONES /// -->

        <!-- FIN DIV CLASE DROPDOWN PARA NOTIFICACIONES-->


    </div>
    <!-- FIN DIV CLASE DROPDOWN PARA NOTIFICACIONES-->