<table class="table dataTables" style="width:100%">
   <thead>
        <tr>
            <th class="col_name" >Nombre</th>
            <th class="hidden-checkbox"></th>
            <th class="col_status">Estado</th>
            <th class="col_time">Tiempo</th>
            <th class="col_spec">Especialidad</th>
            <th class="col_lang">Idioma</th>
        </tr>
    </thead>
    <tbody>
        <tr class="row_flow-connected attending">
            <td class="hidden-checkbox"><input type="checkbox"></td>
            <td class="col_name"><div class="col_text">Maria Paz Perdomo</div></td>
            <td class="col_status"><div class="col_text">Atendiendo</div></td>
            <td class="col_time">
                <div class="col_text" >
                    <div class="time-icon"></div>
                    <div class="time-text">02 min</div>
                </div>
            </td>
            <td class="col_spec">
                <div class="col_tooltip" data-toggle='tooltip' data-html="true" data-placement='left' title='Guardia <br> Clínica'>
                    <div class="col_text">Pediatría</div>
                    <div class="col_text-detail">+2</div>
                </div>
            </td>
            <td class="col_lang"> 
                <div class="col_tooltip" data-toggle='tooltip' data-html="true" data-placement='left' title='<span class="capitalize">Inglés </span>'>
                    <div class="col_text">Español</div>
                    <div class="col_text-detail">+1</div>
                </div>
            </td>
        </tr> 

         <tr class="row_flow-connected not-available">
            <td class="hidden-checkbox"><input type="checkbox"></td>
            <td class="col_name"><div class="col_text">Esmeralda del Campo</div></td>
            <td class="col_status"><div class="col_text">No disp</div></td>
            <td class="col_time">
                <div class="col_text" >
                    <div class="time-icon"></div>
                    <div class="time-text">01:30 min</div>
                </div>
            </td>
            <td class="col_spec">
                <div class="col_tooltip" data-toggle='tooltip' data-html="true" data-placement='left' title='Traumatología'>
                    <div class="col_text">Guardia</div>
                    <div class="col_text-detail">+1</div>
                </div>
            </td>
            <td class="col_lang"> 
                <div class="col_tooltip" data-toggle='tooltip' data-html="true" data-placement='left' title='<span class="capitalize">Inglés </span>'>
                    <div class="col_text">Español</div>
                    <div class="col_text-detail">+1</div>
                </div>
            </td>
        </tr> 
      
        <tr class="row_flow-connected attending">
            <td class="hidden-checkbox"><input type="checkbox"></td>
            <td class="col_name"><div class="col_text">Marisol Quesada</div></td>
            <td class="col_status"><div class="col_text">Atendiendo</div></td>
            <td class="col_time">
                <div class="col_text" >
                    <div class="time-icon"></div>
                    <div class="time-text">0:30 min</div>
                </div>
            </td>
            <td class="col_spec">
                <div class="col_tooltip" data-toggle='tooltip' data-html="true" data-placement='left' title='Guardia'>
                    <div class="col_text">Clínica</div>
                    <div class="col_text-detail">+1</div>
                </div>
            </td>
            <td class="col_lang"> 
                <div class="col_tooltip" data-toggle='tooltip' data-html="true" data-placement='left' title='<span class="capitalize">Inglés </span>'>
                    <div class="col_text">Español</div>
                    <div class="col_text-detail">+1</div>
                </div>
            </td>
        </tr> 

      
    </tbody>
</table>