<table class="table dataTables" style="width:100%">
    <thead>
        <tr>
            <th class="col_name" >Nombre</th>
            <th class="hidden-checkbox"></th>
            <th class="col_last_conn">Ultima Conexión</th>
            <th class="col_spec">Especialidad</th>
            <th class="col_lang">Idioma</th>
        </tr>
    </thead>
    <tbody>
      
        <tr class="row_disconnected">
            <td class="hidden-checkbox"><input type="checkbox"></td>
            <td class="col_name"><div class="col_text">Sílvia Borja</div></td>
            <td class="col_last_conn"><div class="col_text col_inline" >03-de-mar-2021<div class="col_text-detail">17:30 hs</div></div></td> 
            <td class="col_spec"><div class="col_text" >Guardia</div></td>
            <td class="col_lang"><div class="col_text" >Español</div></td>
        </tr>           
        <tr class="row_disconnected">
            <td class="hidden-checkbox"><input type="checkbox"></td>
            <td class="col_name"><div class="col_text">Phoebe Vaughn</div></td>
            <td class="col_last_conn"><div class="col_text col_inline" >01-de-mar-2021<div class="col_text-detail">12:10 hs</div></div></td> 
            <td class="col_spec"><div class="col_text" >Guardia</div></td>
            <td class="col_lang"><div class="col_text" >Inglés</div></td>
        </tr>
         <tr class="row_disconnected">
            <td class="hidden-checkbox"><input type="checkbox"></td>
            <td class="col_name"><div class="col_text">Octavio Sánchez</div></td>
            <td class="col_last_conn"><div class="col_text col_inline" >03-de-mar-2021<div class="col_text-detail">17:30 hs</div></div></td> 
            <td class="col_spec"><div class="col_text" >Pediatría</div></td>
            <td class="col_lang"><div class="col_text">Español</div></td>
        </tr>        

     
        <tr class="row_disconnected">
            <td class="hidden-checkbox"><input type="checkbox"></td>
            <td class="col_name"><div class="col_text">Ada Fernández</div></td>
            <td class="col_last_conn"><div class="col_text col_inline" >03-de-mar-2021<div class="col_text-detail">17:12 hs</div></div></td> 
            <td class="col_spec"><div class="col_text" >Pediatría</div></td>
            <td class="col_lang"><div class="col_text" >Español</div></td>
        </tr>           
        <tr class="row_disconnected">
            <td class="hidden-checkbox"><input type="checkbox"></td>
            <td class="col_name"><div class="col_text">Aurea Lobato</div></td>
            <td class="col_last_conn"><div class="col_text col_inline" >03-de-mar-2021<div class="col_text-detail">17:23 hs</div></div></td> 
            <td class="col_spec"><div class="col_text" >Guardia</div></td>
            <td class="col_lang"><div class="col_text" >Español</div></td>
        </tr>
         <tr class="row_disconnected">
            <td class="hidden-checkbox"><input type="checkbox"></td>
            <td class="col_name"><div class="col_text">Sebastian Puig</div></td>
            <td class="col_last_conn"><div class="col_text col_inline" >03-de-mar-2021<div class="col_text-detail">14:44 hs</div></div></td> 
            <td class="col_spec"><div class="col_text" >Guardia</div></td>
            <td class="col_lang"><div class="col_text">Español</div></td>
        </tr>        
        <tr class="row_disconnected">
            <td class="hidden-checkbox"><input type="checkbox"></td>
            <td class="col_name"><div class="col_text">Victor Tortosa</div></td>
            <td class="col_last_conn"><div class="col_text col_inline" >03-de-mar-2021<div class="col_text-detail">16:20 hs</div></div></td> 
            <td class="col_spec"><div class="col_text" >Guardia</div></td>
            <td class="col_lang"><div class="col_text" >Español</div></td>
        </tr>           
        <tr class="row_disconnected">
            <td class="hidden-checkbox"><input type="checkbox"></td>
            <td class="col_name"><div class="col_text">Adela Seoane</div></td>
            <td class="col_last_conn"><div class="col_text col_inline" >03-de-mar-2021<div class="col_text-detail">13:34 hs</div></div></td> 
            <td class="col_spec"><div class="col_text" >Guardia</div></td>
            <td class="col_lang"><div class="col_text" >Español</div></td>
        </tr>
         <tr class="row_disconnected">
            <td class="hidden-checkbox"><input type="checkbox"></td>
            <td class="col_name"><div class="col_text">Rita Padron</div></td>
            <td class="col_last_conn"><div class="col_text col_inline" >03-de-mar-2021<div class="col_text-detail">17:02 hs</div></div></td> 
            <td class="col_spec"><div class="col_text" >Guardia</div></td>
            <td class="col_lang"><div class="col_text">Español</div></td>
        </tr>        

    </tbody>
</table>