<ul class="nav nav_tabs main_nav_tabs">
    <li class="nav_item first_tab">
        <a class="nav_link cool-link active" data-toggle="tab" href=".main_first_pane">
            <div class="nav_link_content show-bottom">
                Médicos
            </div>
        </a>
    </li>
    <li class="nav_item second_tab">
        <a class="nav_link cool-link" data-toggle="tab" href=".main_second_pane">
            <div class="nav_link_content show-bottom">
                Pacientes
            </div>
        </a>
    </li>
</ul>