<ul class="nav nav_tabs main_nav_tabs">
    <li class="nav_item first_tab">
        <a class="nav_link cool-link active" data-toggle="tab" >
            <div class="nav_link_content show-bottom">
               Médicos
            </div>
        </a>
    </li>
</ul> 
